
# Node dependencies
node_modules/
package-lock.json

# Playwright outputs
test-results/
playwright-report/
trace.zip

# Allure results (temp, don’t commit)
allure-results/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

